.color-green{
    color: #41db7b;
}
.form-wrapper form .input-group a.remove-field-button{
    float: right ;
    background-color: #333333 ;
    background-image: url('/static/site/svg/minus.svg');
}
.add-new-poll, .create-poll-button{
    border-radius: 5px;
    background-color: #dc0000;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 22px;
    display: inline-block;
    text-align: center;
    transition: 0.5s ease all;
}
.add-new-poll:hover{
    background-color: #720000;
    color: white;
}
.create-poll-button{
    background-color: #00D856;
    border: none;
    margin: 5px 0;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.35em;
    font-family: "raleway";
}
.create-poll-button:hover{
    background-color: #1d6d4b;
}