{% extends 'site-layout/layout.html' %}
{% block content %}
    <main>
        <div class="inner-wrapper sml">
            <div class="page-wrapper">
                <header class="page-header">
                    <div class="left">
                        <h1>My Polls</h1>
                        <p>Below are all the public and private polls you created.</p>
                    </div>
                    <div class="right">
                        <div class="order-dropdown">
                            <a href="#" class="dropdown-link">Welcome Username</a>
{#                            <div class="order-dropdown-menu animated-dropdown bounceIn recent" style="display: none;">#}
{#                                <a href="https://fast-poll.com/my-polls/" class="recent-link">Recent</a>#}
{#                                <a href="https://fast-poll.com/my-polls/?order=popular" class="popular-link">Popular</a>#}
{#                                <a href="https://fast-poll.com/my-polls/?order=public" class="public-link">Public</a>#}
{#                                <a href="https://fast-poll.com/my-polls/?order=private" class="private-link">Private</a>#}
{#                            </div>#}
                        </div>
                    </div>
                </header>
                {% for poll in polls %}
                    <div class="polls-list animated zoomIn poll-list-options">
                    <div class="item-wrapper">
                        <a href="javascript:;" class="item " title="{{ poll[1] }}">
                            <p class="badge badge_{{ poll[5] }}">{{ poll[2] }}</p>
                            <h2 class="poppins">{{ poll[1] }}</h2>
                            <p class="date">Created
                                <time class="timeago" datetime="{{ poll[3] }}" title="{{ poll[3] }}">{{ poll[3] }}</time>
                            </p>
                            <div class="votes-count">
                                <p>{{ poll[4] }} Vote(s)</p>
                            </div>
                        </a>

                        <div class="item-links-wrapper">
                            <div class="item-dropdown-wrapper">
                                <a href="#" class="item-link-settings" title="Settings" id="adminSettings" data-id="btnSettings{{ poll[0] }}">
                                    Settings
                                </a>
                                <div class="item-dropdown animated-dropdown bounceIn" id="btnSettings{{ poll[0] }}">
                                    <div class="item-dropdown-links-wrapper">
                                        <div class="item-dropdown-inner">
                                            <a href="{{ baseurl }}admin/polls/{{ poll[1] }}">Edit Poll<span class="item-dropdown-badge green">Open</span></a>
                                            <div class="item-dropdown-divide"></div>
                                            <a href="" id="btnDeletePoll" data-id="{{ poll[0] }}" data-title="{{ poll[1] }}">Delete Poll <span class="item-dropdown-badge red">Are you sure?</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
