{% extends 'site-layout/layout.html' %}
{% block content %}
    <main class="home-page">
        <section class="error-page">
					<div class="error-message">
						<div class="inner-wrapper x-sml">
							<h1>{{ pg['text'] }}</h1>
							{% if pg['link'] %}
							    <a href="{{ pg['link'] }}">{{ pg['link_text'] }}</a>
                            {% else %}
                                <a href="/polls">View all Polls</a>
							{% endif %}
						</div>
					</div>
        </section>
    </main>
{% endblock %}
