{% extends 'site-layout/layout.html' %}

{% block content %}
    <main class="poll-main vote-page">
        <div class="inner-wrapper x-sml">
            <div class="poll-top-ad-wrapper">
                <a href="https://pacesetterfrontier.com" class="go-pro-ad-link" title="Visit Us"><span>Visit us</span> for quality news!</a>

                <div class="poll-top-ad-inner d-flex align-items-center">
                    <div class="poll-top-ad-image">
                        <a href="https://pacesetterfrontier.com" target="_blank" class="fp-ad-space"
                           title="We are a leading electronic and print media magazine committed to making a stride in time; we care about quality content. ">
                            <img src="/static/favicon.png" alt="Pacesetter Logo">
                        </a>
                    </div>
                    <div class="poll-top-ad-copy">
                        <p class="text-justify">
                            <a href="https://pacesetterfrontier.com" target="_blank" class="fp-ad-space"
                               title="Automatically find and apply coupon codes when you shop online!">
                                We are a leading electronic and print media magazine committed to making a stride in time; we care about quality content. </a>
                        </p>
                    </div>

                </div>
                <div class="poll-top-ad-inner p-3 mt-2" id="mypoll_top">
                    <div class="poll-top-ad-copy" style="width: 100%">
                        <p class="text-justify">
                        <div href="javascript:;" target="_blank" class="fp-ad-space"
                             title="">
                            <h2>2023 Elections. Who will be your Governor in 2023?</h2>
                            <h4>Opinion Governorship opinion poll for major political parties in Nigeria</h4>
                            <article><b>Duration of Poll</b>: 5 days</article>
                            <article><b>States of Focus</b>: Abia, Akwa Ibom, Cross River, Delta, Ebonyi, Enugu, Rivers</article>
                            <article><b>Geopolitical Zones</b>: Southeast and Southsouth</article>
                            <article><b>Number of Political Parties Per State</b>: 5</article>
                            <article><b>Means of Selection</b>: Political parties with traction in the respective states</article>
                            <article><b>Sequence</b>: Alphabetical order listing of names of political parties</article>
                            <article><b>Note</b>: Candidates are INEC-listed candidates standing nominated for governorship elections</article>
                        </div>
                    </div>

                </div>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65160.js"></script>
                <noscript><a href="https://poll.fm/11215754">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65141.js"></script>
                <noscript><a href="https://poll.fm/11215756">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65161.js"></script>
                <noscript><a href="https://poll.fm/11215758">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65162.js"></script>
                <noscript><a href="https://poll.fm/11215759">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65163.js"></script>
                <noscript><a href="https://poll.fm/11215760">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65164.js"></script>
                <noscript><a href="https://poll.fm/11215761">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65165.js"></script>
                <noscript><a href="https://poll.fm/11215762">Take our poll</a></noscript>
            </div>
        </div>
    </main>
    <style>
        .css-links.pds-links {
            display: none !important;
        }

        .css-box.pds-box, .pds-box {
            width: 100% !important;
            border-radius: 5px;
            box-shadow: 0 7px 14px 0 rgb(0, 0, 0, 0.07);
        }

        .pds-answer-feedback {
            padding: 2px !important;
            height: 20px !important;
            border-radius: 50px;
        }

        .pds-answer-feedback-bar {
            border-radius: 50px;
            background-color: #ED3237 !important;
        }

        .CSS_Poll.PDS_Poll {
            margin: 10px auto;
        }

        .css-input-label.pds-input-label {
            cursor: pointer;
            display: inline-block;
            background-color: #FFF;
            box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.07);
            border-radius: 7px;
            float: left;
            width: 100%;
            padding: 23px 27px 22px 27px;
            font-size: 24px;
            color: #333333;
            font-weight: 500;
            border: 2px solid #FFF;
            line-height: 32px;
        }

        .css-radiobutton.pds-radiobutton {
            height: 40px;
            width: 20px;
            margin: 20px .5ex !important;
        }
        .fp-ad-space article{
            line-height: 30px;
        }
        .fp-ad-space h2, .fp-ad-space h4{
            font-size: 1.32em;
            font-family: Poppins, 'sans-serif';
            font-weight: bold;
        }
        .fp-ad-space h4{
            font-size: 1.2em;
            padding-bottom: 20px ;
        }
        .css-vote-button.pds-vote-button{
            padding: 15px 25px !important;
            font-size: 22px;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor:pointer;
        }
        #mypoll_top{
            height: 400px;
            max-height: 400px;
            font-family: poppins, 'sans-serif' !important;
        }
        @media screen and (max-width: 500px){
            .css-input-label.pds-input-label{
                padding: 15px !important;
                font-size: 20px;
            }
            #mypoll_top{
                height: 650px;
                max-height: 650px;
            }
        }
    </style>
{% endblock %}
