{% extends 'site-layout/layout.html' %}

{% block content %}
    <main class="poll-main vote-page">
        <div class="inner-wrapper x-sml">
            <div class="poll-top-ad-wrapper">
                <a href="https://pacesetterfrontier.com" class="go-pro-ad-link" title="Visit Us"><span>Visit us</span> for quality news!</a>

                <div class="poll-top-ad-inner d-flex align-items-center">
                    <div class="poll-top-ad-image">
                        <a href="https://pacesetterfrontier.com" target="_blank" class="fp-ad-space"
                           title="We are a leading electronic and print media magazine committed to making a stride in time; we care about quality content. ">
                            <img src="/static/favicon.png" alt="Pacesetter Logo">
                        </a>
                    </div>
                    <div class="poll-top-ad-copy">
                        <p class="text-justify">
                            <a href="https://pacesetterfrontier.com" target="_blank" class="fp-ad-space"
                               title="Automatically find and apply coupon codes when you shop online!">
                                We are a leading electronic and print media magazine committed to making a stride in time; we care about quality content. </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65160.js"></script>
                <noscript><a href="https://poll.fm/11215754">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65141.js"></script>
                <noscript><a href="https://poll.fm/11215756">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65161.js"></script>
                <noscript><a href="https://poll.fm/11215758">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65162.js"></script>
                <noscript><a href="https://poll.fm/11215759">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65163.js"></script>
                <noscript><a href="https://poll.fm/11215760">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65164.js"></script>
                <noscript><a href="https://poll.fm/11215761">Take our poll</a></noscript>
            </div>
            <div class="polls-list animated zoomIn">
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/65165.js"></script>
                <noscript><a href="https://poll.fm/11215762">Take our poll</a></noscript>
            </div>
        </div>
    </main>
    <style>
        .css-links.pds-links{
            display: none !important;
        }
        .css-box.pds-box{
            width: 100% !important;
        }
        .CSS_Poll.PDS_Poll{
            margin: 10px auto;
        }
    </style>
{% endblock %}
