{% extends 'site-layout/layout.html' %}
{% block content %}
    <main>
        <div class="inner-wrapper sml">
            <div class="page-wrapper">
                <header class="page-header">
                    <div class="left">
                        <h1>Polls</h1>
                        <p>Welcome to The Pacesetter Frontier Magazine Polls</p>
                    </div>
{#                    <div class="right">#}
{#                        <div class="order-dropdown">#}
{#                            <a href="#" class="dropdown-link" title="Recent">Recent</a>#}
{#                            <div class="order-dropdown-menu animated-dropdown bounceIn recent" style="display: none;">#}
{#                                <a href="https://fast-poll.com/public/" class="recent-link" title="Recent polls">Recent</a>#}
{#                                <a href="https://fast-poll.com/public/?order=popular" class="popular-link" title="Popular polls">Popular</a>#}
{#                                <a href="https://fast-poll.com/public/?order=voting-open" class="voting-open-link" title="Polls open to voting">Open to Voting</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </header>
                <div class="polls-list animated zoomIn">
                    <div class="item-wrapper">
                        <a href="https://fast-poll.com/poll/results/bf7ab9a5" class="item" title="Team Y">
                            <p class="badge random">Random</p>
                            <h2>Team Y</h2>
                            <p class="date">Created
                                <time class="timeago" datetime="2021-09-27T14:25:21+0000" title="27th September 2021">about 5 hours ago</time>
                            </p>
                            <div class="votes-count">
                                <p>6 Votes</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="pagination">
                    <ul>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="https://fast-poll.com/public/?page=2">2</a></li>
                        <li><a href="https://fast-poll.com/public/?page=3">3</a></li>
                        <li><a href="https://fast-poll.com/public/?page=2" class="next-link">
                            <svg width="10px" height="16px" viewBox="0 0 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>
                                icon-arrow-right</title>
                                <defs></defs>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-490.000000, -1897.000000)" fill="#878787">
                                        <g transform="translate(274.000000, 237.000000)">
                                            <path d="M222.8,1674 L213.2,1674 C212.537258,1674 212,1673.46274 212,1672.8 C212,1672.13726 212.537258,1671.6 213.2,1671.6 L221.6,1671.6 L221.6,1663.2 C221.6,1662.53726 222.137258,1662 222.8,1662 C223.462742,1662 224,1662.53726 224,1663.2 L224,1672.8 C224,1673.46274 223.462742,1674 222.8,1674 Z"
                                                  id="icon-arrow-right" transform="translate(218.000000, 1668.000000) rotate(-45.000000) translate(-218.000000, -1668.000000) "></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
