{% extends 'site-layout/layout.html' %}

{% block content %}
    <main class="poll-main vote-page">
        <div class="inner-wrapper x-sml">
            <div class="poll-top-ad-wrapper">
                <a href="https://pacesetterfrontier.com" class="go-pro-ad-link" title="Visit Us"><span>Visit us</span> for quality news!</a>
                <div class="poll-top-ad-inner d-flex align-items-center">
                    <div class="poll-top-ad-image">
                        <a href="https://pacesetterfrontier.com" target="_blank" class="fp-ad-space"
                           title="We are a leading electronic and print media magazine committed to making a stride in time; we care about quality content. ">
                            <img src="/static/favicon.png" alt="Pacesetter Logo">
                        </a>
                    </div>
                    <div class="poll-top-ad-copy">
                        <p class="text-justify">
                            <a href="https://pacesetterfrontier.com" target="_blank" class="fp-ad-space"
                               title="Automatically find and apply coupon codes when you shop online!">
                                We are a leading electronic and print media magazine committed to making a stride in time; we care about quality content. </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="poll-wrapper questions-wrapper">
                <div class="poll-heading">
                    <p class="poll-tag badge_{{ pg_vars['c_color'](pg['questions']['category']) }}">{{ pg['questions']['category'] }} </p>
                    <h1 class="standard">{{ pg['questions']['title'] }}</h1>


                    <div class="item-inline-wrapper">
                        <div class="item-share-inline-wrapper">
                            <div class="item-dropdown-wrapper">
                                <a href="#" class="item-link-share-inline" title="Share">Share</a>
                                <div class="item-dropdown animated-dropdown bounceIn social-share-links inline ">
                                    <div class="item-dropdown-links-wrapper">
                                        <div class="item-dropdown-inner">
                                            <a href="https://twitter.com/intent/tweet/?text=Do you know flutter ?%20Vote%20now%20at%20&amp;url=https://fast-poll.com/poll/996f0ad9" target="_blank"
                                               class="twitter-dropdown-link" title="Share on Twitter">Share on Twitter</a>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://fast-poll.com/poll/996f0ad9" target="_blank" class="fb-dropdown-link"
                                               title="Share on Facebook">Share on Facebook</a>
                                            <a href="https://api.whatsapp.com/send?text=Do you know flutter ?%20-%20Vote%20now%20at%20https://fast-poll.com/poll/996f0ad9" target="_blank"
                                               class="whatsapp-dropdown-link" title="Share on WhatsApp">Share on WhatsApp</a>
                                            <a href="#" data-reveal-id="copy-url-modal" class="url-dropdown-link" title="Share Link">Share Link</a>
                                            <a href="#" data-reveal-id="qr-code-modal" class="qr-code-dropdown-link" title="Share QR Code">Share QR Code</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="poll-form">


                    <form action="" method="post" name="form" target="_self" id="poll-form" novalidate="novalidate">
                        {% for text in pg['questions']['text'] %}
                            <div class="poll-heading">
                                <h2 class="raleway">{{ text }}</h2>
                            </div>
                            {% for opt in pg['questions']['text'][text] %}
                                <div class="poll-item">
                                    <input type="radio" id="item_{{ opt[0] }}" value="{{ opt[0] }}" name="{{ text }}" required="">
                                    <label for="item_{{ opt[0] }}">
                                        <p class="vote-inner-label poppins"> {{ opt[0] }} </p>
                                    </label>
                                </div>
                            {% endfor %}

                        {% endfor %}

                        <div class="poll-item">
                            <input type="radio" id="item_one_997a3296-1f8f-11ec-9375-020055" value="997a3296-1f8f-11ec-9375-020055(1)" name="item[]" required="">
                            <label for="item_one_997a3296-1f8f-11ec-9375-020055">
                                <p class="vote-inner-label">
                                    Yes </p>
                            </label>
                        </div>
                        <div class="poll-item">
                            <input type="radio" id="item_one_997a52fd-1f8f-11ec-9375-020055" value="997a52fd-1f8f-11ec-9375-020055(2)" name="item[]" required="">
                            <label for="item_one_997a52fd-1f8f-11ec-9375-020055">
                                <p class="vote-inner-label">
                                    No </p>
                            </label>
                        </div>
                        <input type="text" name="poll_parent_id" id="poll_parent_id" value="996f0ad9" style="display:none;" readonly="">
                        <div id="poll-error"></div>
                        <div class="poll-footer">
                            <button title="Submit your vote">Submit your vote</button>
{#                            <a href="https://fast-poll.com/poll/results/996f0ad9" class="poll-results-button" title="Jump to results">Jump to results</a>#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
