{% extends 'site-layout/layout.html' %}
{% block content %}
<main>
    <div class="inner-wrapper sml">
        <div class="page-wrapper">
            <style>
                .code-block {
                    display: none;
                }

                .css-box.pds-box, .pds-box {
                    width: 100% !important;
                    margin: 20px 0 !important;
                }

                p {
                    margin: 10px;
                }

                span.css-links.pds-links {
                    display: none !important;
                }
            </style>
            <div class="montserrat pb-4">
                <h1 class="poppins" style="font-weight: 700; margin-bottom: 1em;">Voting Poll For Nominees in the Third
                    Frontier Discourse Annual Public Lecture and Awards</h1>
                <p>Welcome to the Voting Poll for Nominees in the Third Frontier Discourse Annual Public
                    Lecture and Awards.</p>
                <p>Kindly vote by tapping on your preferred nominee's name per category, then tapping 'vote'.
                    The voting lasts for Ten days and you can only vote once. Please share the voting link with others
                    after
                    voting and keep a date with us for other details of Frontier Discourse 3.0.</p>
                <p>For more details on the nominees and why they were nominated in each category, you can read
                    them by clicking <strong>
                        <a href="https://pacesetterfrontier.com/2023/10/03/3rd-frontier-discourse-public-lecture-and-awards-meet-the-2023-award-nominees-as-voting-begins-october-5/"
                           class="text-primary">here</a></strong>.
                </p>
                <p>The event proper is scheduled for Saturday, November 18, 2023 at Hotel Sunshine,
                    Presidential Road, Independence Layout, Enugu by 11am (Green Carpet).</p>
                <p><strong>Partners</strong>: Odengene Airshuttle Services Limited, OPEANS Nigeria Limited, 9th
                    Holdings Nigeria Limited, Human Development Center</p>
                <p><strong>Media</strong>: CEO Media, AnchorNews</p>
            </div>
            <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/12826330.js"></script>
            <noscript><a href="https://poll.fm/12826330">Business Person of the Year Award</a></noscript>

            <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/12826442.js"></script>
            <noscript><a href="https://poll.fm/12826442">Humanitarian Service of the Year Award</a></noscript>

            <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/12829602.js"></script>
            <noscript><a href="https://poll.fm/12829602">Lifetime Achievement Award</a></noscript>

            <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/12826465.js"></script>
            <noscript><a href="https://poll.fm/12826465">Media Personality of the Year Award (Broadcast)</a></noscript>

            <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/12826469.js"></script>
            <noscript><a href="https://poll.fm/12826469">Media Personality of the Year Award (Prints)</a></noscript>

            <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/12826495.js"></script>
            <noscript><a href="https://poll.fm/12826495">Woman of the Time Award</a></noscript>

            <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/12826500.js"></script>
            <noscript><a href="https://poll.fm/12826500">Youth Icon of the Year Award</a></noscript>
        </div>
    </div>
</main>
{% endblock %}
